<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Table表格</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">bootstrap中表格的使用</h1>
    <div id="app">
        <div class="text-center">
            <span class="text-success">{{message}}</span>
            <input type="text" v-model="message">

            <h1>Hello, Vue.js !</h1>
            <h1 v-if="yes">Yes!</h1>
            <h1 v-if="no">NO!</h1>
            <h1 v-if="age >=26">Age:{{age}}</h1>
            <h1 v-if="name.indexOf('jack') >=0">Name:{{name}}</h1>
        </div>
        <div>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr class="text-primary  bg-success text-center">
                    <td>姓名</td>
                    <td>年龄</td>
                    <td>地址</td>
                    <td>手机</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="person in people">
                    <td>{{person.name}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.address}}</td>
                    <td>{{person.phone}}</td>
                </tr>
                </tbody>
            </table>

            <!--<ul class="pagination">
                <li v-for="n in page.pageCount">
                    <a href="javascript:void(0)" v-bind:class="activeNumber === n+1 ?'active':''">{{n+1}}</a>
                </li>
            </ul>-->

            <ul class="pagination">
                <li v-for="(n,index) in page.pageCount">
                    <a href="javascripit:void(0)" :class="page.activeNumber == n ? 'active' : ''">{{ n}}</a>
                </li>
            </ul>

            <button class="btn btn-default" @click="greet">欢迎</button>
            <button class="btn btn-primary" @click="say('Hi')">Hi</button>
        </div>

    </div>
</div>
<script src="../js/vue.js"></script>
<script>
    var people = [
        {
            name: "jack",
            age: 28,
            address: "杭州市西湖区",
            phone: "18711111234"
        },
        {
            name: "Bill",
            age: 29,
            address: "杭州市西湖区",
            phone: "18711111234"
        },
        {
            name: "Mary",
            age: 26,
            address: "杭州市西湖区",
            phone: "18711111234"
        },
        {
            name: "Smith",
            age: 23,
            address: "杭州市西湖区",
            phone: "18711111234"
        }
    ]
    var page = {
        pageCount: 10,
        activeNumber: 1
    }

    var myData = {
        message: "Hello World !",
        yes: true,
        no: false,
        age: 28,
        name: "jackChen",
        people: people,
        page: page
    }
    new Vue({
        el: "#app",
        data: myData,
        methods: {
            greet: function () {
                console.log(myData.message)
            },
            say: function (msg) {
                console.log(msg)
            }
        }
    });
</script>
</body>
</html>